::selection {
  background: #4e5051;
}
html,
body {
  width: 100% !important;
  height: 100% !important;
  margin: 0;
}

body {
  font-size: 9pt !important;
  font-family: Menlo, monospace !important;
  color: white !important;
  background: -webkit-linear-gradient(90deg, #113e4b, #282d33);
  /*background: linear-gradient(90deg, #113e4b,#282d33);*/
  background: linear-gradient(60deg, #1f2324, #3d4551);
}

output {
  display: block !important;
}

pre {
  font-size: 10pt !important;
}

.dialog {
  color: white !important;
}

.black-screen {
  height: 100% !important;
  width: 100% !important;
  background: black;
}

#container {
  padding: 0.1em 1.5em 1em 1em;
}

#container output {
  clear: both;
  width: 100%;
}

#container output h3 {
  margin: 0;
}

#container output pre {
  margin: 0;
}

.input-line {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-align: stretch;
  display: -moz-box;
  -moz-box-orient: horizontal;
  -moz-box-align: stretch;
  display: box;
  box-orient: horizontal;
  box-align: stretch;
  clear: both;
}

.input-line > div:nth-child(2) {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
}

.prompt {
  white-space: nowrap;
  color: #ffffff;
  margin-right: 7px;
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-orient: vertical;
  display: -moz-box;
  -moz-box-pack: center;
  -moz-box-orient: vertical;
  display: box;
  box-pack: center;
  box-orient: vertical;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.cmdline {
  color: #ffffff !important;
  outline: none;
  background-color: transparent;
  margin: 0;
  width: 100%;
  font: inherit;
  border: none;
  caret: white block;
}

.ls-files {
  /*height: 45px;*/
  -webkit-column-width: 100px;
  -moz-column-width: 100px;
  -o-column-width: 100px;
  column-width: 100px;
}

/************************************************************/
/* SVG Clock                                                */
/************************************************************/

.clock-container {
  display: none /*inline-block*/;
  position: relative;
  width: 200px;
  vertical-align: middle;
  overflow: hidden;
}

.clock-container > svg > circle {
  stroke-width: 2px;
  stroke: #fff;
}

.hour,
.min,
.sec {
  stroke-width: 1px;
  fill: #333;
  stroke: #555;
}

.sec {
  stroke: #f55;
}

.model {
  position: fixed;
  width: 1000px;
  height: 800px;
  top: 20%;
  left: 20%;
  margin: -110px 0 0 -100px;
  border-radius: 4px;
  box-sizing: border-box;
  z-index: 100;
}

a.no-color {
  color: inherit !important;
  font-weight: inherit !important;
}

a,
.link {
  text-decoration: none !important;
  color: rgb(92, 215, 184) !important;
  font-weight: bold;
}

.ui-dialog {
  border-radius: 15px !important;
  padding-top: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.ui-dialog-titlebar {
  border-color: rgba(10, 83, 190, 0) !important;
  border-top-left-radius: 15px !important;
  border-top-right-radius: 15px !important;
  background: rgb(66, 68, 74) !important;
}

.ui-dialog-titlebar {
  text-align-last: center !important;
  width: 100% !important;
}

.ui-dialog-titlebar #ui-id-1 {
  width: 100% !important;
}

.ui-dialog-titlebar .ui-dialog-titlebar-close,
.ui-dialog-titlebar .ui-dialog-titlebar-close:hover {
  left: 17px;
  border-radius: 100px !important;
  top: 18px !important;
  width: 14px !important;
  height: 14px !important;
  background: #ff5f57 !important;
  border: 0;
}

.ui-dialog-titlebar-close .ui-button-icon {
  display: none;
}

.ui-dialog-titlebar-close:hover .ui-button-icon {
  display: block !important;
  color: #be0a0a !important;
  border: 0;
}
